/*============================
Colores para el administrador
============================*/

$admin-primary-color: #1b262c !important;
$admin-secondary-color: #0f4c75 !important;
$admin-light-color: #00b7c2 !important;
$admin-accent-color: #fdcb9e !important;

/*============================
Colores para la tienda
============================*/


/*============================
Colores comunes
============================*/
